<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mailapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            path="/Ace"
            applicationId="peyton.training.rap.demoSecond.mailapp"
            id="mailapp.entrypoint">
      </entrypoint>
   </extension>
   <extension
         id="peyton.training.rap.demoSecond.mailapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="peyton.training.rap.demoSecond.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="peyton.training.rap.demoSecond.Perspective"
            icon="icons/project.png"
            id="peyton.training.rap.demoSecond.perspective"
            name="Projects">
      </perspective>
      <perspective
            class="peyton.training.rap.demoSecond.DeviceTemplatesPerspective"
            icon="icons/template.png"
            id="peyton.training.rap.demoSecond.templates"
            name="Templates">
      </perspective>
      <perspective
            class="peyton.training.rap.demoSecond.Perspective"
            icon="icons/system.png"
            id="peyton.training.rap.demoSecond.systems"
            name="System">
      </perspective>
      <perspective
            class="peyton.training.rap.demoSecond.Perspective"
            icon="icons/group_users.png"
            id="peyton.training.rap.demoSecond.users"
            name="users">
      </perspective>
      <perspective
            class="peyton.training.rap.demoSecond.Perspective"
            icon="icons/logout.png"
            id="peyton.training.rap.demoSecond.logout"
            name="Logout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="two"
            class="peyton.training.rap.demoSecond.Views.DeviceTableSelectionView"
            icon="icons/device.png"
            id="peyton.training.rap.demoSecond.Devices"
            name="Devices"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="peyton.training.rap.demoSecond.Views.TreeViewPart"
            icon="icons/project.png"
            id="peyton.training.rap.demoSecond.Projects"
            name="Projects"
            restorable="true">
      </view>
      <view
            category="two"
            class="peyton.training.rap.demoSecond.Views.DeviceTableSelectionView"
            icon="icons/service.png"
            id="peyton.training.rap.demoSecond.services"
            name="Services">
      </view>
           
      <view
            class="peyton.training.rap.demoSecond.Views.NavigationControlView"
            icon="icons/c0feed6f.png"
            id="peyton.training.rap.demoSecond.Drivers"
            name="Drivers"
            restorable="true">
      </view>
      <view
            class="peyton.training.rap.demoSecond.Views.AreaTemplateView"
            icon="icons/b56c7f54.png"
            id="peyton.training.rap.demoSecond.Areas"
            name="Areas Templates"
            restorable="true">
      </view>
      <view
            class="peyton.training.rap.demoSecond.Views.DeviceTableSelectionView"
            icon="icons/rule.png"
            id="peyton.training.rap.demoSecond.Rule"
            name="Rule"
            restorable="true">
      </view>
      <view
            class="peyton.training.rap.demoSecond.Views.DeviceTableSelectionView"
            icon="icons/scene.png"
            id="peyton.training.rap.demoSecond.Scenes"
            name="Scenes"
            restorable="true">
      </view>
      <view
            class="peyton.training.rap.demoSecond.Views.VersionPropertiesView"
            id="peyton.training.rap.demoSecond.Views.versionProperties"
            name="Version Properties"
            restorable="true">
      </view>
      <view
            class="peyton.training.rap.demoSecond.Views.NavigationControlView"
            id="peyton.training.rap.demoSecond.Views.NavigationForm"
            name="NavigationForm"
            restorable="true">
      </view>
      <view
            class="peyton.training.rap.demoSecond.Views.DeviceTemplatesView"
            icon="icons/template.png"
            id="peyton.training.rap.demoSecond.DeviceTemplates"
            name="Device Templates"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="peyton.training.rap.demoSecond.Views.DeviceTemplatesDetailView"
            icon="icons/cctv.png"
            id="peyton.training.rap.demoSecond.Views.deviceTemplateDetail"
            name="Device Template Detail"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="peyton.training.rap.demoSecond.Views.DeviceModifyDetailView"
            icon="icons/thermostat.png"
            id="peyton.training.rap.demoSecond.views.DeviceModifyDetail"
            name="Device Modify Detail"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="peyton.training.rap.demoSecond.Action.ExportHandler"
            id="peyton.training.rap.demoSecond.command"
            name="Export Action">
      </command>
      <command
            defaultHandler="peyton.training.rap.demoSecond.Action.AboutAction"
            id="peyton.training.rap.demoSecond.command1"
            name="Message Content">
      </command>
      <command
            defaultHandler="peyton.training.rap.demoSecond.Action.ShowDeviceTemplateAdd"
            description="Show Device Template when click on button add device"
            id="ShowDeviceTemplateAdd"
            name="ShowDeviceTemplateAdd">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command1">
         <toolbar
               id="ToolBar1">
            <command
                  commandId="org.eclipse.ui.file.export"
                  icon="icons/export.png"
                  label="Export"
                  mode="FORCE_TEXT"
                  style="toggle">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command"
                  icon="icons/deployunit_project.png"
                  label="Deploy"
                  mode="FORCE_TEXT"
                  style="toggle">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command"
                  icon="icons/report.png"
                  label="Report"
                  mode="FORCE_TEXT"
                  style="toggle">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command"
                  icon="icons/help.png"
                  label="Help Links"
                  mode="FORCE_TEXT"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command">
         <toolbar
               id="ToolBar2">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/project.png"
                  label="Projects"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/template.png"
                  label="Templates"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/system.png"
                  label="System"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/group_users.png"
                  label="Users"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/logout.png"
                  label="Logout"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="peyton.training.rap.demoSecond.toolbar1">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/3f7990ad.png"
                  label="Footer"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:peyton.training.rap.demoSecond.Views.TreeViewPart">
         <toolbar
               id="peyton.training.rap.demoSecond.Projects">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/show_devices.png"
                  label="Camera"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/add_folder.png"
                  label="Add Folder"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/save_as.png"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:peyton.training.rap.demoSecond.Views.DemoTableView">
         <toolbar
               id="peyton.training.rap.demoSecond.Devices">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="ShowDeviceTemplateAdd"
                  icon="icons/device_add.png"
                  label="Devide Add"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number "
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import-devices.png"
                  label="import devices"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import_zwave.png"
                  label="import zwave"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_type.png"
                  label="Devide Type"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/export.png"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/system.png"
                  label="System"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/expand.png"
                  label="Expand"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/38736d40.png"
                  label="Other"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_changed.png"
                  label="Devide Changed"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/request_online_status.png"
                  label="Request Online Status"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="peyton.training.rap.demoSecond.services">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_add.png"
                  label="Devide Add"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number "
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import-devices.png"
                  label="import devices"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import_zwave.png"
                  label="import zwave"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_type.png"
                  label="Devide Type"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/export.png"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/system.png"
                  label="System"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/expand.png"
                  label="Expand"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/38736d40.png"
                  label="Other"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_changed.png"
                  label="Devide Changed"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/request_online_status.png"
                  label="Request Online Status"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="peyton.training.rap.demoSecond.Scenes">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_add.png"
                  label="Devide Add"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number "
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import-devices.png"
                  label="import devices"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import_zwave.png"
                  label="import zwave"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_type.png"
                  label="Devide Type"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/export.png"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/system.png"
                  label="System"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/expand.png"
                  label="Expand"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/38736d40.png"
                  label="Other"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_changed.png"
                  label="Devide Changed"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/request_online_status.png"
                  label="Request Online Status"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="peyton.training.rap.demoSecond.Rule">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_add.png"
                  label="Devide Add"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number "
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import-devices.png"
                  label="import devices"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import_zwave.png"
                  label="import zwave"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_type.png"
                  label="Devide Type"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/export.png"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/system.png"
                  label="System"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/expand.png"
                  label="Expand"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/38736d40.png"
                  label="Other"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_changed.png"
                  label="Devide Changed"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/request_online_status.png"
                  label="Request Online Status"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.vogella.rcp.intro.commands.popup.view">
         <command
               commandId="peyton.training.rap.demoSecond.Show"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:peyton.training.rap.demoSecond.Views.AreaTemplateView">
         <toolbar
               id="peyton.training.rap.demoSecond.Areas">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/show_devices.png"
                  label="Camera"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/add_folder.png"
                  label="Add Folder"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/save_as.png"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:peyton.training.rap.demoSecond.Views.DeviceTemplatesView">
         <toolbar
               id="peyton.training.rap.demoSecond.DeviceTemplates">
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_add.png"
                  label="Devide Add"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/847a187.png"
                  label="Number "
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/delete_mode.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import-devices.png"
                  label="import devices"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/import_zwave.png"
                  label="import zwave"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_type.png"
                  label="Devide Type"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/export.png"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/system.png"
                  label="System"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/expand.png"
                  label="Expand"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/38736d40.png"
                  label="Other"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/device_changed.png"
                  label="Devide Changed"
                  style="push">
            </command>
            <command
                  commandId="peyton.training.rap.demoSecond.command1"
                  icon="icons/request_online_status.png"
                  label="Request Online Status"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="peyton.training.rap.demoSecond.Action.showSelectedAction"
            commandId="peyton.training.rap.demoSecond.Show">
      </handler>
   </extension>

</plugin>
